body {
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #1D1D1D;
  color: #1D1D1D;
}

.bg-image {
  position: relative;
  height: 100vh;
  background-image: url('assets/bg.png');
  background-size: cover;
  background-position: center;
}

#footer {
  background-color: #292929;
  color: white;
  padding: 20px;
}

.bg-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 72px;
  backdrop-filter: blur(10px);
  opacity: 0.65;
  background-color: rgba(0, 0, 0, 0.65);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #0B7956;
  z-index: 1000;
}

.logo {
  height: 100%;
}

.logo img {
  max-height: 100%;
}

.header-buttons {
  display: flex;
  align-items: center;
  font-weight: 500;
}

.header-buttons .button {
  margin-right: 10px;
  text-decoration: none;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
}

.header-buttons .button:last-child {
  margin-right: 10;
}

.bg-header .button:hover {
  color: #0B7956;
  border-bottom-color: transparent;
}

.mod-menu-image {
  position: absolute;
  width: 30%;
  height: 40%;
  top: 55%;
  right: 5%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.version-info {
  position: absolute;
  top: 50%;
  left: 15%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.glacierclientv4 {
  color: #fff;
  font-size: 48px;
  font-weight: 600;
  font-family: 'Inter', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif;
  margin-bottom: 0px;
}

.isOutNow {
  color: #888888;
  font-size: 24px;
  font-weight: 500;
  font-family: 'Inter', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin-top: 0px;
}

.download-button {
  background-color: #0B7956;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
  width: 200px;
  height: 50px;
  border-radius: 25px;
}

.download-button:hover {
  background-color: #15a879;
}

.faq-section {
  background-color: #292929;
  color: white;
  padding: 10px;
  margin-bottom: 0px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faq-section:hover {
  background-color: #333;
}

.faq-content {
  display: none;
  padding: 10px;
  background-color: #292929;
  color: white;
  margin-top: 0px;
  margin-bottom: 10px;
}

.faq-section .arrow-icon {
  font-size: 14px;
  margin-left: 5px;
  transition: transform 0.3s ease;
  display: inline-block;
}

.faq-section.open .arrow-icon {
  transform: rotate(180deg);
}

@media (max-width: 768px) {
  .mod-menu-image {
    width: 45%;
    left: 50%;
    top: 75%;
  }

  .version-info {
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .faq-section {
    font-size: 14px;
    padding: 10px 5px;
  }

  .header-buttons .button {
    font-size: 14px;
    margin-right: 5px;
  }
}

@media (max-width: 480px) {
  .mod-menu-image {
    width: 60%;
    right: 5%;
    top: 85%;
  }

  .version-info {
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .glacierclientv4 {
    font-size: 36px; 
  }

  .isOutNow {
    font-size: 18px;
  }
}

.content-wrapper {
  margin-top: 96px;
}

#r2 {
  display: flex;
  align-items: center;
  gap: 7px;
  flex-wrap: wrap;
  justify-content: center;
  margin: 50px 50px;
}

#r2>div {
  border-radius: 8px;
  width: 300px;
  background: #292929;
  border: 1px solid #1a1d26;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding: 50px 20px;
  text-align: center;
}

#r2>div>.header {
  font-weight: 700;
  color: white;
  font-family: 'Inter-Medium', Arial, sans-serif;
}

#r2>div>.description {
  color: white;
  font-size: 300;
  font-family: 'Inter-Medium', Arial, sans-serif;
}

#r2>div>#hr {
  width: 50%;
  background: #0B7956;
  height: 2.5px;
}

#r2>div>img {
  height: 60px;
}

#footer {
  background-color: #2c2a2a;
  color: white;
  padding: 20px;
}

.gc-footer {
  display: flex;
  flex-wrap: wrap;
}

.col-sm-4,
.col-sm-2 {
  padding: 10px;
}

.footer-box {
  border-bottom: 1px solid #555;
  padding-bottom: 10px;
}

.links a {
  display: block;
  color: white;
  text-decoration: none;
  margin-bottom: 5px;
}

.links a:hover {
  color: #a4a4a4;
}

.glacier-brand p {
  margin: 0;
  font-size: 0.9rem;
}

.glacier-brand img {
  margin-right: 10px;
}