@import url('https://fonts.googleapis.com/css?family=Inter:700|Inter:400');

:root {
    --text: #ffffff;
    --background: #1c1c1c;
    --primary: #0b7956;
    --secondary: #3d6651;
    --accent: #8cba5f;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter';
    font-weight: 400;
    background-color: var(--background);
    color: var(--text);
}

h1, h2, h3, h4, h5 {
    font-family: 'Inter';
    font-weight: 700;
}

html {font-size: 100%;} /* 16px */

h1 {font-size: 4.210rem; /* 67.36px */}

h2 {font-size: 3.158rem; /* 50.56px */}

h3 {font-size: 2.369rem; /* 37.92px */}

h4 {font-size: 1.777rem; /* 28.48px */}

h5 {font-size: 1.333rem; /* 21.28px */}

small {font-size: 0.750rem; /* 12px */}

header {
    position: fixed;
    top: 0;
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    background-color: rgba(0, 0, 0, 0.5);
}

nav .branding {
    display: flex;
    align-items: center;
}

nav .branding .logo {
    height: 80px;
    width: 80px;
}

nav .nav-links {
    display: flex;
    gap: 3rem;
    list-style: none;
    align-items: center;
}

nav .nav-links li {
    font-weight: 700;
}

nav .nav-links li a {
    text-decoration: none;
    color: var(--text);
    transition: all 0.3s ease 0s;
}

nav .nav-links li a:hover {
    color: var(--primary);
}